
body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

.home{
    margin: 0%;
    padding: 0%;
    background: linear-gradient(#74EBD5,#9FACE6);
    width: 1348px;
    height: 630px;
}

.about-me{
    margin: 0%;
    padding: 0%;
    background:linear-gradient(90deg,#8EC5FC,#E0C3FC);
    width: 1348px;
    height: 630px;  
}

#Projects{
    position: relative;
    margin: 0%;
    width: 0;
    width: 1348px;
    height: 630px;
    background:linear-gradient(90deg,#8EC5FC,#E0C3FC);
}

.navbar{
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100px;
    background: linear-gradient(360deg,#42EED4,#778CE6);
    display: flex;
}
.navbar .nav-list{
    position: absolute;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0%;

    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav-list .navlists{
    margin: 100px;
}
.navlists a{
    text-decoration: none;
    color: black;
}
.nav-list a:hover{
    padding: 2px;
    border-radius: 5px;
    font-size: x-large;
    background-color: white;
    
}
.contact {
    display: none;
    position: absolute;
    left: 30%;
    background:linear-gradient(90deg,#8EC5FC,#E0C3FC);
    width: 500px;
    height: 300px;
}
.contact .gmail{
    position: absolute;
    top: 40%;
    left: 25%;
    font-size: 50px;
}
.contact .gmail:hover{
    color: yellow;
    text-shadow: 1px 1px 5px white;
}
.contact #close-btn{
    position: absolute;
    top: 10%;
    left: 90%;
    border: 1px solid black;
    padding: 2px;
    border-radius: 20px 20px;
}
.contact #close-btn:hover{
    border-color: aqua; 
    color: #00DBDE;   
}
.contact h1{
    position: absolute;
    top: 10%;
    left: 30%;
    color: black;
}
.contact .whatsapp{
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 50px;
}
.contact .whatsapp:hover{
    color: yellow;
    text-shadow: 1px 1px 5px white;
}
.contact .linkedin{
    position: absolute;
    top: 40%;
    left: 65%;
    font-size: 50px;  
}
.contact .linkedin:hover{
    color: yellow;
    text-shadow: 1px 1px 5px white;
}
.home-text h1{
position: absolute;
top: 40%;
left: 40%;
align-items: center;
justify-content: center;
width: 400px;
text-align: justify;    
}

.home-text h1 #name{
    font-size: 50px;
    padding: 2px;
    margin: 20px;
    text-shadow: 3px 3px 1px yellow;
}

.home-icon{
    position: absolute;
    top:75%;
    left:48.5%;
    font-size: large;
    color: black;
    
}
.home-icon .down1{
    animation: load 1.5s infinite;
}
.home-icon .down2{
    animation: load1 1.5s infinite;
}
.home-icon .down3{
    animation: load2 1.5s infinite;
}
.home-button{
    position: absolute;
    top:85%;
    left:46%;
    font-size: large;
}
.home-button a{
    text-decoration: none;
    color: black;
    position: absolute;
    top:10px;
    left: 0px;
    width: 90px;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
}
.home-button a:hover{
    background-color: white;
    border-width: 1px;
    border-color: #00DBDE;
}
@keyframes load{
    0%{
        color: black;   
     }
     30%{
        color: #00DBDE;
        text-shadow: 1px 1px 5px white;
     }
     40%{
        color: black;
     }
}

@keyframes load1{
    0%{
        color: black;   
     }
     30%{
        color: black;   
     }
     50%{
        color: #00DBDE;
        text-shadow: 1px 1px 5px white;
     }
     60%{
        color: black;
     }
}

@keyframes load2{
    0%{
        color: black;   
     }
     50%{
        color: black;   
     }
     80%{
        color: #42EED4;
        text-shadow: 1px 1px 5px white;
     }
     90%{
        color: black;
     }
}
.about-me-container{
    position: relative;
    height: 100%;
}
.about-me-container .my-img{
    position: absolute;
    top:10%;
    left:10%;
    width:300px;
    border-radius: 600px;
    background-color: #EEEB78;
}
.my-img img{
    width: 300px;
    border-radius: 600px;
}
.about-me-container h1{
    position: absolute;
    top:10%;
    left: 45%;
}
.about-me-container p{
    position: absolute;
    top:16%;
    left: 45%;
}
.skills h1{
    position: absolute;
    top: 40%;
}
#html{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
}
#html-text{
    position: absolute;
    top: 59%;
    left: 51%;
    width: 50px;   
}
#css{
    position: absolute;
    top: 50%;
    left: 55%;
    width: 46px;
}
#css-text{
    position: absolute;
    top: 59%;
    left: 56%;
}
#js{
    position: absolute;
    top: 49.5%;
    left: 58%;
    width: 105px;
}
#js-text{
    position: absolute;
    top: 59%;
    left: 59.5%;
}
.resume{
    position: absolute;
    top: 80%;
    left: 55%;
    width: 105px;
    border: 2px solid black;
    border-radius: 40px;
    text-decoration: none;
    color: black;
    text-align: center;
}
.resume:hover{
    border-color: yellow;
    background-color: white;
}
.whatsapp1{
    position: absolute;
    top:70%;
    left: 15%;
    font-size: 40px;
}
.whatsapp1:hover{
    color: yellow;
    text-shadow: 1px 1px 5px white;
}
.github1{
    position: absolute;
    top:70%;
    left: 25%;
    font-size: 40px;
}
.github1:hover{
    color: yellow;
    text-shadow: 1px 1px 5px white;
}
.linkedin1{
    position: absolute;
    top:70%;
    left: 20%;
    font-size: 40px;
}
.linkedin1:hover{
    color: yellow;
    text-shadow: 1px 1px 5px white;
}
.gmail1{
    position: absolute;
    top:70%;
    left: 10%;
    font-size: 40px;
}
.gmail1:hover{
    color: yellow;
    text-shadow: 1px 1px 5px white;
}
.projects-container{
    position: relative;
    width: 100%;
    height: 100%;
}
.projects-container h1{
    position: absolute;
    top: 0;
    left:48%;
}
.projects-container .portfolio{
    position: absolute;
    top: 10%;
    left: 10%;
    border: 1px solid white;
    width: 400px;
    height: 200px;
}
.portfolio:hover{
 border: 2px solid aqua;
}
.portfolio-link{
  position: absolute;
    top: 45%;
    left: 22%;
    text-decoration: none;
    padding: 2px;
    color: black;
}
.portfolio-link:hover{
    border: 2px solid aqua;
}
#random-quote-generator{
    position: absolute;
    top: 10%;
    left: 60%;
    border: 1px solid white;
    width: 400px;
    height: 200px;
}
#random-quote-generator:hover{
    border: 2px solid aqua; 
}
.quote-generator{
    position: absolute;
    top: 45%;
    left: 70%;
    text-decoration: none;
    padding: 2px;
    color: black;   
}
.quote-generator:hover{
    border: 2px solid aqua;
}

#bmi-calculator{
    position: absolute;
    top: 58%;
    left: 10%;
    border: 1px solid white;
    width: 400px;
    height: 200px;   
}
#bmi-calculator:hover{
    border: 2px solid aqua;   
}
.bmi-calculator{
    position: absolute;
    top: 92%;
    left: 22%;
    text-decoration: none;
    padding: 2px;
    color: black;   
}
.bmi-calculator:hover{
    border: 2px solid aqua;
}
#to-top{
    position: absolute;
    top: 92%;
    left: 50%;
    font-size: 50px;
    color: aqua;
    text-shadow: 0 0 5px blue;
}

@media screen and (max-width:320px){
    .contact {
        display: none;
        position: absolute;
        top: 25%;
        left: 20%;
        background:linear-gradient(90deg,#8EC5FC,#E0C3FC);
        width: 250px;
        height: 150px;
    }
    .contact .gmail{
        position: absolute;
        top: 40%;
        left: 25%;
        font-size: 20px;
    }
    .contact .gmail:hover{
        color: yellow;
        text-shadow: 1px 1px 5px white;
    }
    .contact #close-btn{
        position: absolute;
        top: 10%;
        left: 90%;
        font-size: 10px;
    }
    .contact #close-btn:hover{
        border-color: aqua; 
        color: #00DBDE;   
    }
    .contact h1{
        font-size: 20px;
        position: absolute;
        top: 1%;
        left: 23%;
        color: black;
    }
    .contact .whatsapp{
        position: absolute;
        top: 40%;
        left: 45%;
        font-size: 20px;
    }
    .contact .whatsapp:hover{
        color: yellow;
        text-shadow: 1px 1px 5px white;
    }
    .contact .linkedin{
        position: absolute;
        top: 40%;
        left: 65%;
        font-size: 20px;  
    }
    .contact .linkedin:hover{
        color: yellow;
        text-shadow: 1px 1px 5px white;
    }
    .home{
        width: 320px;
        height: 415px;
    }   
    .navbar{
        width: 320px;
        height: 50px;
    }
    .navbar .nav-list{
        width: 320px;
        height: 50px;
    }
    .nav-list .navlists{
        margin: 8px;
    }
    .nav-list a:hover{
        padding: 0.4px;
        border-radius: 2px;
        background-color: white;
        
    }
    .home-text h1{
        position: absolute;
        top: 40%;
        left: 30%;
        align-items: center;
        justify-content: center;
        width: 200px;
        text-align: justify;
        font-size: 14px;    
        }
    .home-text h1 #name{
            font-size: 20px;
            margin: 20px;
            text-shadow: 3px 3px 1px yellow;
        }
        
    .home-icon{
            position: absolute;
            top:72%;
            left:48.5%;
            font-size: 14px;
            color: black;
            
        }
        .home-button{
            position: absolute;
            top:85%;
            left:40%;
            font-size: 12px;
        }
        .home-button a{
            text-decoration: none;
            color: black;
            position: absolute;
            top:10px;
            left: 0px;
            width: 60px;
            border: 2px solid black;
            border-radius: 30px;
            text-align: center;
        }
        .about-me{
            width: 320px;
            height: 415px;  
        }
        .about-me-container{
            position: relative;
            width: 320px;
            height: 415px;
        }
        .about-me-container .my-img{
            position: absolute;
            top:5%;
            left:40%;
            width:70px;
            border-radius: 600px;
            background-color: #EEEB78;
        }
        .my-img img{
            width: 70px;
            border-radius: 600px;
        }       
        .about-me-container h1{
            position: absolute;
            top:35%;
            left: 15%;
            font-size: 16px;
        }
        .about-me-container p{
            position: absolute;
            top:43%;
            left: 4%;
            font-size: 14px;
            width: 300px;
            text-align: justify;
        }
        .skills h1{
            position: absolute;
            top: 60%;
        }
        #html{
            position: absolute;
            top: 70%;
            left: 30%;
            width: 30px;
        }
        #html-text{
            position: absolute;
            top: 79%;
            left: 32%;
            font-size: 10px;
        }
        #css{
            position: absolute;
            top: 70%;
            left: 48%;
            width: 29px;
        }
        #css-text{
            position: absolute;
            top: 79%;
            left: 50%;
            font-size: 10px;
        }
        #js{
            position: absolute;
            top: 69.5%;
            left: 65%;
            width: 65px;
        }
        #js-text{
            position: absolute;
            top: 79%;
            left: 68%;
            font-size: 10px;
        }
        .resume{
            position: absolute;
            top: 90%;
            left: 45%;
            width: 65px;
            border: 1px solid black;
            border-radius: 40px;
            text-decoration: none;
            color: black;
            text-align: center;
        }
        .resume:hover{
            border-color: yellow;
            background-color: white;
        }
        .whatsapp1{
            position: absolute;
            top:30%;
            left: 35%;
            font-size: 20px;
        }
        .github1{
            position: absolute;
            top:30%;
            left: 45%;
            font-size: 20px;
        }
        .linkedin1{
            position: absolute;
            top:30%;
            left: 55%;
            font-size: 20px;
        }
        .gmail1{
            position: absolute;
            top:30%;
            left: 65%;
            font-size: 20px;
        }
        #Projects{
            width: 320px;
            height: 415px;
        }
        
.projects-container{
    position: relative;
    width: 320px;
    height: 415px;
}
.projects-container h1{
    position: absolute;
    top: 0;
    left:48%;
    font-size: 14px;
}
.projects-container .portfolio{
    position: absolute;
    top: 20%;
    left: 10%;
    border: 1px solid white;
    width: 100px;
    height: 50px;
}
.portfolio-link{
  position: absolute;
    top: 35%;
    left: 20%;
    font-size: 12px;
}
.portfolio-link:hover{
    border: 2px solid aqua;
}
#random-quote-generator{
    position: absolute;
    top: 20%;
    left: 60%;
    border: 1px solid white;
    width: 100px;
    height: 50px;
}
#random-quote-generator:hover{
    border: 2px solid aqua; 
}
.quote-generator{
    position: absolute;
    top: 35%;
    left: 55%;
    font-size: 12px;   
    width: 150px;
}
.quote-generator:hover{
    border: 2px solid aqua;
}

#bmi-calculator{
    position: absolute;
    top: 48%;
    left: 10%;
    border: 1px solid white;
    width: 100px;
    height: 50px;   
}
.bmi-calculator{
    position: absolute;
    top: 62%;
    left: 15%;
    font-size: 12px;
}
.bmi-calculator:hover{
    border: 2px solid aqua;
}
#to-top{
    font-size: 20px;
}
}


@media screen and (max-width:360px){
    .contact {
        display: none;
        position: absolute;
        top: 25%;
        left: 20%;
        background:linear-gradient(90deg,#8EC5FC,#E0C3FC);
        width: 250px;
        height: 150px;
    }
    .contact .gmail{
        position: absolute;
        top: 40%;
        left: 25%;
        font-size: 20px;
    }
    .contact .gmail:hover{
        color: yellow;
        text-shadow: 1px 1px 5px white;
    }
    .contact #close-btn{
        position: absolute;
        top: 10%;
        left: 90%;
        font-size: 10px;
    }
    .contact #close-btn:hover{
        border-color: aqua; 
        color: #00DBDE;   
    }
    .contact h1{
        font-size: 20px;
        position: absolute;
        top: 1%;
        left: 23%;
        color: black;
    }
    .contact .whatsapp{
        position: absolute;
        top: 40%;
        left: 45%;
        font-size: 20px;
    }
    .contact .whatsapp:hover{
        color: yellow;
        text-shadow: 1px 1px 5px white;
    }
    .contact .linkedin{
        position: absolute;
        top: 40%;
        left: 65%;
        font-size: 20px;  
    }
    .contact .linkedin:hover{
        color: yellow;
        text-shadow: 1px 1px 5px white;
    }
    .home{
        width: 360px;
        height: 648px;
    }   
    .navbar{
        width: 360px;
        height: 50px;
    }
    .navbar .nav-list{
        width: 360px;
        height: 50px;
    }
    .nav-list .navlists{
        margin: 8px;
    }
    .nav-list a:hover{
        padding: 0.4px;
        border-radius: 2px;
        background-color: white;
        
    }
    .home-text h1{
        position: absolute;
        top: 40%;
        left: 30%;
        align-items: center;
        justify-content: center;
        width: 200px;
        text-align: justify;
        font-size: 14px;    
        }
    .home-text h1 #name{
            font-size: 20px;
            margin: 20px;
            text-shadow: 3px 3px 1px yellow;
        }
        
    .home-icon{
            position: absolute;
            top:72%;
            left:48.5%;
            font-size: 14px;
            color: black;
            
        }
        .home-button{
            position: absolute;
            top:85%;
            left:40%;
            font-size: 12px;
        }
        .home-button a{
            text-decoration: none;
            color: black;
            position: absolute;
            top:10px;
            left: 0px;
            width: 60px;
            border: 2px solid black;
            border-radius: 30px;
            text-align: center;
        }
        .about-me{
            width: 360px;
            height: 648px;  
        }
        .about-me-container{
            position: relative;
            width: 360px;
            height: 648px;
        }
        .about-me-container .my-img{
            position: absolute;
            top:5%;
            left:40%;
            width:70px;
            border-radius: 600px;
            background-color: #EEEB78;
        }
        .my-img img{
            width: 70px;
            border-radius: 600px;
        }       
        .about-me-container h1{
            position: absolute;
            top:35%;
            left: 15%;
            font-size: 16px;
        }
        .about-me-container p{
            position: absolute;
            top:43%;
            left: 4%;
            font-size: 14px;
            width: 300px;
            text-align: justify;
        }
        .skills h1{
            position: absolute;
            top: 60%;
        }
        #html{
            position: absolute;
            top: 70%;
            left: 30%;
            width: 30px;
        }
        #html-text{
            position: absolute;
            top: 79%;
            left: 32%;
            font-size: 10px;
        }
        #css{
            position: absolute;
            top: 70%;
            left: 48%;
            width: 29px;
        }
        #css-text{
            position: absolute;
            top: 79%;
            left: 50%;
            font-size: 10px;
        }
        #js{
            position: absolute;
            top: 69.5%;
            left: 65%;
            width: 65px;
        }
        #js-text{
            position: absolute;
            top: 79%;
            left: 68%;
            font-size: 10px;
        }
        .resume{
            position: absolute;
            top: 90%;
            left: 45%;
            width: 65px;
            border: 1px solid black;
            border-radius: 40px;
            text-decoration: none;
            color: black;
            text-align: center;
        }
        .resume:hover{
            border-color: yellow;
            background-color: white;
        }
        .whatsapp1{
            position: absolute;
            top:30%;
            left: 35%;
            font-size: 20px;
        }
        .github1{
            position: absolute;
            top:30%;
            left: 45%;
            font-size: 20px;
        }
        .linkedin1{
            position: absolute;
            top:30%;
            left: 55%;
            font-size: 20px;
        }
        .gmail1{
            position: absolute;
            top:30%;
            left: 65%;
            font-size: 20px;
        }
        #Projects{
            width: 360px;
            height: 648px;
        }
        
.projects-container{
    position: relative;
    width: 360px;
    height: 648px;
}
.projects-container h1{
    position: absolute;
    top: 0;
    left:48%;
    font-size: 14px;
}
.projects-container .portfolio{
    position: absolute;
    top: 20%;
    left: 10%;
    border: 1px solid white;
    width: 100px;
    height: 50px;
}
.portfolio-link{
  position: absolute;
    top: 35%;
    left: 20%;
    font-size: 12px;
}
.portfolio-link:hover{
    border: 2px solid aqua;
}
#random-quote-generator{
    position: absolute;
    top: 20%;
    left: 60%;
    border: 1px solid white;
    width: 100px;
    height: 50px;
}
#random-quote-generator:hover{
    border: 2px solid aqua; 
}
.quote-generator{
    position: absolute;
    top: 35%;
    left: 55%;
    font-size: 12px;   
    width: 150px;
}
.quote-generator:hover{
    border: 2px solid aqua;
}

#bmi-calculator{
    position: absolute;
    top: 48%;
    left: 10%;
    border: 1px solid white;
    width: 100px;
    height: 50px;   
}
.bmi-calculator{
    position: absolute;
    top: 62%;
    left: 15%;
    font-size: 12px;
}
.bmi-calculator:hover{
    border: 2px solid aqua;
}
#to-top{
    font-size: 20px;
}
}

@media screen and (max-width:412px){
    .contact {
        display: none;
        position: absolute;
        top: 25%;
        left: 20%;
        background:linear-gradient(90deg,#8EC5FC,#E0C3FC);
        width: 250px;
        height: 150px;
    }
    .contact .gmail{
        position: absolute;
        top: 40%;
        left: 25%;
        font-size: 20px;
    }
    .contact .gmail:hover{
        color: yellow;
        text-shadow: 1px 1px 5px white;
    }
    .contact #close-btn{
        position: absolute;
        top: 10%;
        left: 90%;
        font-size: 10px;
    }
    .contact #close-btn:hover{
        border-color: aqua; 
        color: #00DBDE;   
    }
    .contact h1{
        font-size: 20px;
        position: absolute;
        top: 1%;
        left: 23%;
        color: black;
    }
    .contact .whatsapp{
        position: absolute;
        top: 40%;
        left: 45%;
        font-size: 20px;
    }
    .contact .whatsapp:hover{
        color: yellow;
        text-shadow: 1px 1px 5px white;
    }
    .contact .linkedin{
        position: absolute;
        top: 40%;
        left: 65%;
        font-size: 20px;  
    }
    .contact .linkedin:hover{
        color: yellow;
        text-shadow: 1px 1px 5px white;
    }
    .home{
        width: 412px;
        height: 776px;
    }   
    .navbar{
        width: 412px;
        height: 50px;
    }
    .navbar .nav-list{
        width: 412px;
        height: 50px;
    }
    .nav-list .navlists{
        margin: 14px;
    }
    .nav-list a:hover{
        padding: 0.4px;
        border-radius: 2px;
        background-color: white;
        
    }
    .home-text h1{
        position: absolute;
        top: 40%;
        left: 30%;
        align-items: center;
        justify-content: center;
        width: 200px;
        text-align: justify;
        font-size: 16px;    
        }
    .home-text h1 #name{
            font-size: 20px;
            margin: 20px;
            text-shadow: 3px 3px 1px yellow;
        }
        
    .home-icon{
            position: absolute;
            top:77%;
            left:46%;
            font-size: 14px;
            color: black;
            
        }
        .home-button{
            position: absolute;
            top:85%;
            left:40%;
            font-size: 12px;
        }
        .home-button a{
            text-decoration: none;
            color: black;
            position: absolute;
            top:10px;
            left: 0px;
            width: 60px;
            border: 2px solid black;
            border-radius: 30px;
            text-align: center;
        }
        .about-me{
            width: 412px;
            height: 776px;  
        }
        .about-me-container{
            position: relative;
            width: 412px;
            height: 776px;
        }
        .about-me-container .my-img{
            position: absolute;
            top:5%;
            left:40%;
            width:100px;
            border-radius: 600px;
            background-color: #EEEB78;
        }
        .my-img img{
            width: 100px;
            border-radius: 600px;
        }       
        .about-me-container h1{
            position: absolute;
            top:35%;
            left: 15%;
            font-size: 18px;
        }
        .about-me-container p{
            position: absolute;
            top:40%;
            left: 4%;
            font-size: 14px;
            width: 400px;
            text-align: justify;
        }
        .skills h1{
            position: absolute;
            top: 50%;
        }
        #html{
            position: absolute;
            top: 60%;
            left: 30%;
            width: 30px;
        }
        #html-text{
            position: absolute;
            top: 69%;
            left: 32%;
            font-size: 10px;
        }
        #css{
            position: absolute;
            top: 60%;
            left: 48%;
            width: 29px;
        }
        #css-text{
            position: absolute;
            top: 69%;
            left: 50%;
            font-size: 10px;
        }
        #js{
            position: absolute;
            top: 59.5%;
            left: 65%;
            width: 65px;
        }
        #js-text{
            position: absolute;
            top: 69%;
            left: 68%;
            font-size: 10px;
        }
        .resume{
            position: absolute;
            top: 80%;
            left: 45%;
            width: 65px;
            border: 1px solid black;
            border-radius: 40px;
            text-decoration: none;
            color: black;
            text-align: center;
        }
        .resume:hover{
            border-color: yellow;
            background-color: white;
        }
        .whatsapp1{
            position: absolute;
            top:30%;
            left: 35%;
            font-size: 20px;
        }
        .github1{
            position: absolute;
            top:30%;
            left: 45%;
            font-size: 20px;
        }
        .linkedin1{
            position: absolute;
            top:30%;
            left: 55%;
            font-size: 20px;
        }
        .gmail1{
            position: absolute;
            top:30%;
            left: 65%;
            font-size: 20px;
        }
        #Projects{
            width: 412px;
            height: 776px;
        }
        
.projects-container{
    position: relative;
    width: 412px;
    height: 776px;
}
.projects-container h1{
    position: absolute;
    top: 0;
    left:45%;
    font-size: 16px;
}
.projects-container .portfolio{
    position: absolute;
    top: 10%;
    left: 35%;
    border: 1px solid white;
    width: 150px;
    height: 100px;
}
.portfolio-link{
  position: absolute;
    top: 27%;
    left: 45%;
    font-size: 12px;
}
.portfolio-link:hover{
    border: 2px solid aqua;
}
#random-quote-generator{
    position: absolute;
    top: 35%;
    left: 35%;
    border: 1px solid white;
    width: 150px;
    height: 100px;
}
#random-quote-generator:hover{
    border: 2px solid aqua; 
}
.quote-generator{
    position: absolute;
    top: 52%;
    left: 40%;
    font-size: 12px;   
    width: 150px;
}
.quote-generator:hover{
    border: 2px solid aqua;
}

#bmi-calculator{
    position: absolute;
    top: 60%;
    left: 35%;
    border: 1px solid white;
    width: 150px;
    height: 100px;   
}
.bmi-calculator{
    position: absolute;
    top: 75%;
    left: 45%;
    font-size: 12px;
}
.bmi-calculator:hover{
    border: 2px solid aqua;
}
#to-top{
    font-size: 20px;
}
}
